@model HealthCare.DAL.Models.Prescription

@{
}


<h1>Edit Prescription</h1>
<form method="post" action="EditPrescription" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="PrescriptionId" readonly>
    </div>
@*    <div class="mb-3">
        <label for="" class="form-label">Patient Name</label>
        <input type="text" class="form-control" asp-for="PatientName" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Patient Gender</label>
        <input type="text" class="form-control" asp-for="PatientGender" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Patient Age</label>
        <input type="number" class="form-control" asp-for="PatientAge" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Address</label>
        <input type="text" class="form-control" asp-for="Address" readonly>
    </div>*@

    <div class="mb-3">
        <label for="" class="form-label">Doctor's Name</label>
        <input type="text" class="form-control" asp-for="DoctorName">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Symptoms</label>
        <input type="text" class="form-control" asp-for="Symptoms">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Medicines</label>
        <input type="text" class="form-control" asp-for="Medicine">
    </div>

    <button type="submit" class="btn btn-primary">Update</button>

    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete prescription : @Model.PrescriptionId')" asp-action="Delete">Delete</button>
</form>